---
interface Props {
  attribution?: string;
}

const { attribution } = Astro.props;
---

<blockquote class="pull-quote">
  <p>“<slot />”</p>
  {attribution && <footer>— {attribution}</footer>}
</blockquote>
