---
import Base from './Base.astro';

interface Props {
  frontmatter: {
    title: string;
    description?: string;
    kicker?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title} description={frontmatter.description}>
  {frontmatter.kicker && <div class="kicker">{frontmatter.kicker}</div>}
  <div class="prose">
    <slot />
  </div>
</Base>
